BASE_URL=https://www.automationexercise.com

VALID_USER_EMAIL=usuario_teste@email.com
VALID_USER_PASSWORD=senha_teste
XRAY_IMPORT_URL=
XRAY_TOKEN=

TRELLO_ACTION_URL=https://api.trello.com/1/actions/592f11060f95a3d3d46a987a

XRAY_CLIENT_ID=
XRAY_CLIENT_SECRET=